
<h1 style="text-align: center;">Raro Bank</h1>
<h2 style="text-align: center;">Seu token de autenticação</h3>
<div style="text-align: center;">Transaction N°:<strong><%= @mailer_transaction.id %></strong></div>
<h3 style="text-align: center;"><%= @mailer_transaction.token.code %></h3>

<style>
  table, td, div, h1, h2, h3, p {
    font-family: Arial, sans-serif;
  }
  table, td {
    border: 2px solid #000000 !important;
  }
</style>