
<h1 style="text-align: center;">Raro Bank</h1>
<h2 style="text-align: center;">Seu token de autenticação</h3>
<h3 style="text-align: center;"><%= @mailer_transaction.sender.user.id %></h3> <!- TODO: Usar token verdadeiro aqui ->

<style>
  table, td, div, h1, h2, h3, p {
    font-family: Arial, sans-serif;
  }
  table, td {
    border: 2px solid #000000 !important;
  }
</style>