<style>
  .container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #47449b;
    color: #f4f3ff
  }

  h1, h2, h3, p {
    text-align: center;
  }

  p {
    font-size: 18px;
  }

  img.logo {
    display: block;
    margin: 0 auto;
    width: 120px;
    text-align: left;
   }

   .token {
      font-size: 40px;
      font-weight: bold;
      color: #dfdef8;
   }

   btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
   }

   a.button {
    /* color: #fff; */
    background-color: #93ff90;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
  }
</style>

<main class="container">
  <img src="http://localhost:3000/logo-bank.png" alt="Logo Raro Bank" width="60" class="logo">

  <h2>Seu token de autenticação</h2>
  <h3>Transaction N°:<strong><%= @mailer_token_notification.id %></strong></h3>
  <p><%= @mailer_token_notification.sender.user.name %>, utilize este token para confirmar sua transferência.</p>
  <p class="token"><%= @mailer_token_notification.token.code %></p>

  <div class="btn-container">
    <p class="link">
      <%= link_to "Valide sua transação", edit_transaction_url(@mailer_token_notification.id), class: "button" %>
    </p>
  </div>

</main>
