<h1 style="text-align: center;">Raro Bank</h1>
<div style="text-align: center;">Transaction N°:<strong><%= @transaction.id %></strong></div>
<div style="text-align: center;">Valor:<strong><%= @transaction.amount %></strong></div>

<style>
  table, td, div, h1, h2, h3, p {
    font-family: Arial, sans-serif;
  }
  table, td {
    border: 2px solid #000000 !important;
  }
</style>