<h1>Editing classroom</h1>

<%= render "form", classroom: @admin_classroom %>

<br>

<div>
  <%= link_to "Show this classroom", @admin_classroom %> |
  <%= link_to "Back to classrooms", admin_classrooms_path %>
</div>
