<h1><%= t('.edit_classroom') %></h1>

<%= render "form", classroom: @admin_classroom %>

<br>

<div>
  <%= link_to t('.show_classroom'), @admin_classroom %> |
  <%= link_to t('.back'), admin_classrooms_path %>
</div>
