<%= render @classroom %>

<div>
  <%= link_to t('.edit_classroom'), edit_admin_classroom_path(@classroom) %> |
  <%= link_to t('.back'), admin_classrooms_path %>
  <%= button_to t('.delete_classroom'), admin_classroom_path(@classroom), method: :delete %>
</div>
