<section class="flex justify-between items-start px-32 py-16 bg-primary-700 gap-6">
  <div class="w-1/2 h-full">
    <h3 class="text-4xl text-primary-200 font-bold leading-10">
      Secure access to the best investments by becoming a student at Raro Academy
    </h3>
    <p class="text-lg text-primary-300 w-3/5 mt-6">
      Students and alumni of our school have access to high-yield investments. Make your Raracoins count!
    </p>
    <%= link_to "https://www.raroacademy.com.br", target: "_blank", class: "flex items-center gap-4 mt-6 hover:opacity-50" do %>
      <span class="text-lg text-primary-100 font-bold">Learn more</span>
      <%= inline_svg_tag 'icons/solid/arrow-right.svg', class: 'w-6 h-6 text-red-600' %>
    <% end %>
  </div>
  <div class="w-1/2">
    <img src="<%= asset_path('article-image.png') %>" alt="A man putting Raro card on his pocket">
  </div>
</section>
<div class="h-2 bg-secondary-500"></div>
