<%= link_to 'New transfer', new_transaction_path %>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
    <tr>
      <td class='py-1'><%= transaction.amount %></td>
      <td class='py-1'><%= transaction.status.titleize %></td>
      <td class='py-1'><%= link_to 'Confirm', edit_transaction_path(transaction) %></td>
    </tr>
    <% end %>
  </tbody>
</table>